{{#each kids as |kid|}}
<div data-id="{{kid.id}}" class="media">
    <div class="media-left">
      <img src="{{kid.image_url}}" class="media-object img-thumbnail" alt="Image" width="150" height="100">
    </div>
    <div class="media-body">
      <h4 class="media-heading">&nbsp;</h4>
      <h4 class="media-heading">{{kid.first_name}}&nbsp;{{kid.last_name}}</h4>
    </div><br>
    <button data-id="{{kid.id}}" type="button" class="btn btn-warning btn-xs" data-keyboard="false" data-backdrop="static" data-toggle="modal" data-target="#kidModal">Update Kid</button>
    <button data-id="{{kid.id}}" id="deleteButton" type="button" class="btn btn-danger btn-xs">Delete</button>
  </div>
  <hr>
{{/each}}
